# API Configuration
PORT=3000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/call_center_shajgoj

# If using MongoDB Atlas (cloud), use format:
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/call_center_shajgoj

# CORS Configuration (optional)
CORS_ORIGIN=http://localhost:5173

# AmiService Configuration
USE_AMI_SERVICE=true
AMI_HOST=103.177.125.83
AMI_PORT=5038
AMI_USERNAME=admin
AMI_PASSWORD=your_password_here